<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <style>
        body {
    background-color:#82CAFF;
    text-align:center;"
    }
    </style>
</head >
<body>
<h3>Use following info for testing this webpage:</h3>
<h2>User name: admin</h2>
<h2>Password: 1234</h2>
    <button type="button">
    <a href="{% url 'index' %}">Home</a>
</button>
    <button type="button">
    <a href="{% url 'login' %}">Login</a>
</button>
<p>First you need to add some flight and price from admin panel then you can search for flight and book.</p>

</body>
</html>