<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight {{flights.id}}</title>
</head>
<body>
<h1>Flight {{flights.id}}</h1>
<ul>
    <li>Time: {{flights.dtime}}</li>
    <li>Origin: {{flights.origin}}</li>
    <li>Destination: {{flights.destination}}</li>
</ul>

<h2>Passengers</h2>
<ul>
    {% for passenger in passengers %}
    <li>{{passenger}}</li>
    {% empty %}
    <li>No Passengers.</li>
    {% endfor %}
</ul>
<a href="{% url 'flights_list'%}">Back to Flight List</a>

</body>
</html>